@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
.App {
  text-align: center;
}

.card{
  margin: auto;
  top: 50px;
  width: 400px;
  padding: 15px;
  box-shadow: 0px 0px 2px 2px lightgray;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card2 {
  box-shadow: 0px 0px 1px 1px lightgrey;
  padding: 5px;
  background: honeydew;
}

.wrapper{
  box-shadow: 0px 0px 1px 1px lightgrey;
  padding: 5px;
  background: honeydew;
}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}


.blog_post {
  background: #fff;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
}


.container_copy {
  padding: 6rem 0rem 5rem 1rem;
}

.img_pod {
  height: 70px;
  width: 70px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: 4%;
  top: -4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_pod2 img {
  height: 4.3rem;
  width: 4.3rem;
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.img_pod2 {
  height: 30px;
  width: 30px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: 4%;
  top: -4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_pod img {
  height: 8.3rem;
  width: 8.3rem;
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.container_copy h3 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
}

.container_copy h1 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #333;
}

.container_copy p {
  margin: 0 0 1.5rem 0;
  font-size: 17px;
  line-height: 1.45;
  color: #333;
}

.btn_primary {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 1.5rem 2rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}

.card-img-top{
  width: 100%
}

.comment_wrap2{
  padding: 3rem 0rem 2rem 1rem;
}

.wrap_comment {
  height: 350px;
  overflow-y: scroll;
}

